<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>K-Bank</h1>
        </div>
        <div class="menu">
            <button>Button 1</button>
            <button>Button 2</button>
            <button>Button 3</button>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="left">
                <h2>Lefty testy boogy</h2>
            </div>
            <div class="right">
                <img src="static/images/business-meeting.jpg" alt="Business Meeting Image from Getty Images">
            </div>
        </div>
    </main>
</body>
</html>