<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>K-Bank</h1>
        </div>
        <div class="menu">
            <button id="login">Logg inn</button>
            <button>Button 2</button>
            <button id="bank">Bank</button>
        </div>
    </header>
    <main>
        <div class="form">
            <h2>Logg Inn</h2>
            <form action="/login" method="post">
                <input type="name" id="name" name="name" placeholder="Navn" required>
                <input type="password" name="password" placeholder="Passord" required>
                <button type="submit">Logg Inn</button>
            </form>
            <a href="/register">Registrer deg</a>
        </div>
    </main>
    <script src="static/header-script.js"></script>
</body>
</html>